asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.1
Django==5.2.17
django-cors-headers==4.9.0
django-requestlogs==0.8.3
django-session-timeout==0.1.0
djangorestframework==3.18.0
idna==3.19
pillow==12.3.0
python-dotenv==1.2.3
requests==2.34.2
setuptools==84.0.0
six==1.17.0
sqlparse==0.6.0
stripe==15.5.1
typing_extensions==4.16.0
urllib3==2.7.0
