{% extends 'base.html' %}
{% block title %}Reset password{% endblock %}
{% block content %}
<div class="col-md-4">
    {% if validlink %}
    <p>Enter your new password.</p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="mt-3">
            {{ form.new_password1.errors }}
            <label class="form-label" for="id_new_password1">New password</label>
            <input type="password" name="new_password1" class="form-control" id="id_new_password1"> 
        </div>
        <div class="mt-3">
            {{ form.new_password2.errors }}
            <label class="form-label" for="id_new_password2">Confirm password</label>
            <input type="password" name="new_password2" class="form-control" id="id_new_password2"> 
        </div>
        <button type="submit" class="btn btn-warning mt-3">Change password</button>
    </form>
    {% else %}
    <h1 class="h3">Password reset failed</h1>
    <p>The password reset link is invalid or has already been used. Request a new password reset.</p>
    {% endif %}
</div>
{% endblock %}
